In [7]:
salary=int(input('Enter the salary :'))
year = int(input('Enter the year :'))
if year<=2:
    print('you got the 5% bonus')
    bonus=salary*5/100
    net_salary=bonus+salary
    print('your new salary is',net_salary)
elif 2<year<=5:
    print('you got the 10% bonus')
    bonus1=salary*10/100
    net_salary1=bonus1+salary
    print('your new salary is',net_salary1)
elif 5<year:
    print('you got the 20% bonus')
    bonus2=salary*20/100
    net_salary2=bonus2+salary
    print('your new salary is',net_salary2)

Enter the salary :20000
Enter the year :5
you got the 10% bonus
your new salary is 22000.0

# For Loops

In [11]:
for i in range(1,6,1):
    print(i)

1
2
3
4
5

# Using loops print all even no. b/w 1 to 50
and print all odd no. b/w 1 to 50

In [12]:
for i in range(1,51,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [14]:
for i in range(2,51,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [16]:
fruit=['apple','banana','orange','kivi','grapes']
for i in fruit:
    print(i)

apple
banana
orange
kivi
grapes

In [17]:
fruit=['apple','banana','orange','kivi','grapes']
for i in fruit:
    print(i,end = ',')

apple,banana,orange,kivi,grapes,

In [19]:
for i in range(10,0,-1):
    print(i,end = ',')

10,9,8,7,6,5,4,3,2,1,

In [28]:
table = int(input('Enter the number for table :'))
for i in range(1,11,1):
    result = table*i
    print(table,'x',i,'=',result)

Enter the number for table :5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [30]:
table = int(input('Enter the number for table :'))
for i in range(10,0,-1):
    result = table*i
    print(table,'x',i,'=',result)

Enter the number for table :4
4 x 10 = 40
4 x 9 = 36
4 x 8 = 32
4 x 7 = 28
4 x 6 = 24
4 x 5 = 20
4 x 4 = 16
4 x 3 = 12
4 x 2 = 8
4 x 1 = 4

# find square for even no. and cube for odd no. in 1 to 50.

In [43]:
for i in range(1,51,1):
    if i%2==0:
        even=i*i
        print('Square of the Even Number',i, 'is' ,even)
    else:
        odd=i*i*i
        print('Cube of the Odd Number',i, 'is',odd)

Cube of the Odd Number 1 is 1
Square of the Even Number 2 is 4
Cube of the Odd Number 3 is 27
Square of the Even Number 4 is 16
Cube of the Odd Number 5 is 125
Square of the Even Number 6 is 36
Cube of the Odd Number 7 is 343
Square of the Even Number 8 is 64
Cube of the Odd Number 9 is 729
Square of the Even Number 10 is 100
Cube of the Odd Number 11 is 1331
Square of the Even Number 12 is 144
Cube of the Odd Number 13 is 2197
Square of the Even Number 14 is 196
Cube of the Odd Number 15 is 3375
Square of the Even Number 16 is 256
Cube of the Odd Number 17 is 4913
Square of the Even Number 18 is 324
Cube of the Odd Number 19 is 6859
Square of the Even Number 20 is 400
Cube of the Odd Number 21 is 9261
Square of the Even Number 22 is 484
Cube of the Odd Number 23 is 12167
Square of the Even Number 24 is 576
Cube of the Odd Number 25 is 15625
Square of the Even Number 26 is 676
Cube of the Odd Number 27 is 19683
Square of the Even Number 28 is 784
Cube of the Odd Number 29 is 24389
Square of the Even Number 30 is 900
Cube of the Odd Number 31 is 29791
Square of the Even Number 32 is 1024
Cube of the Odd Number 33 is 35937
Square of the Even Number 34 is 1156
Cube of the Odd Number 35 is 42875
Square of the Even Number 36 is 1296
Cube of the Odd Number 37 is 50653
Square of the Even Number 38 is 1444
Cube of the Odd Number 39 is 59319
Square of the Even Number 40 is 1600
Cube of the Odd Number 41 is 68921
Square of the Even Number 42 is 1764
Cube of the Odd Number 43 is 79507
Square of the Even Number 44 is 1936
Cube of the Odd Number 45 is 91125
Square of the Even Number 46 is 2116
Cube of the Odd Number 47 is 103823
Square of the Even Number 48 is 2304
Cube of the Odd Number 49 is 117649
Square of the Even Number 50 is 2500