# Dictionaries

In [1]:
d = {}
type(d)

dict

In [2]:
d = {"key1":"value1","key2":"value2"}
d

{'key1': 'value1', 'key2': 'value2'}

In [3]:
d = {1:"value1",2:2.3,54:"vh","key3":[2,4,6]}
d.keys()

dict_keys([1, 2, 54, 'key3'])

In [4]:
d.values()

dict_values(['value1', 2.3, 'vh', [2, 4, 6]])

In [5]:
for i in d:
    print(i)

1
2
54
key3

In [6]:
for i in d.values():
    print(i)

value1
2.3
vh
[2, 4, 6]

In [7]:
for i in d.items():
    print(i)

(1, 'value1')
(2, 2.3)
(54, 'vh')
('key3', [2, 4, 6])

In [8]:
for i in d.keys():
    print(i)

1
2
54
key3

In [9]:
for i,j in d.items():
    print(i,":",j)

1 : value1
2 : 2.3
54 : vh
key3 : [2, 4, 6]

In [15]:
d = {1:"one",2:"two",3:"three",4:"four",5:"five"}
# if the keyword in your dict is even then value should be capitalized
# and if the keyword in your dict is odd the value should be a float
# of the keyword.
for i,j in d.items():
    if i%2==0:
        print(j.upper())
    else:
        print(float(i))

1.0
TWO
3.0
FOUR
5.0

In [16]:
d

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [17]:
d["key4"] = (1,2,3)
d

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 'key4': (1, 2, 3)}

In [20]:
d = {1:"one",2:"two",3:"three",4:"four",5:"five"}
for i,j in d.items():
    if i%2==0:
        d[i]=j.upper()
        
    else:
        d[i]=float(i)
print(d)

{1: 1.0, 2: 'TWO', 3: 3.0, 4: 'FOUR', 5: 5.0}

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\manish\anaconda3\lib\site-packages (1.2.4)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\manish\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\manish\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\manish\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\manish\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [5]:
my_dict = {'Age':[12,13,12,13,12,13,14,12,13],'Gender':[0,1,1,0,1,0,1,0,0],'Height':[120,122,123,123,126,133,143,120,130]}
my_dict

{'Age': [12, 13, 12, 13, 12, 13, 14, 12, 13],
 'Gender': [0, 1, 1, 0, 1, 0, 1, 0, 0],
 'Height': [120, 122, 123, 123, 126, 133, 143, 120, 130]}

In [3]:
import pandas as pd

In [7]:
df = pd.DataFrame(my_dict)
df

   Age  Gender  Height
0   12       0     120
1   13       1     122
2   12       1     123
3   13       0     123
4   12       1     126
5   13       0     133
6   14       1     143
7   12       0     120
8   13       0     130

In [33]:
my_dict = {'key1': 123, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']}
# Subtract 123 from the value
my_dict['key1'] = my_dict['key1'] - 120
my_dict

{'key1': 3, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']}

# Nesting with Dictionaries

In [37]:
# Dictionary nested inside a dictionary nested in side a dictionary
d = {'key1':{'nestkey':{'subnestkey':'value'}}}
d["key1"]["nestkey"]["subnestkey"]

'value'

In [40]:
d1 = {1:1,2:2,3:3}
d2 = {2:4,5:8}
d1.update(d2)
d1

{1: 1, 2: 4, 3: 3, 5: 8}

# Dictionary Comprehensions

In [41]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [42]:
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [49]:
{i:i**2 if i%2==0 else i**3 for i in range(1,21)}

{1: 1,
 2: 4,
 3: 27,
 4: 16,
 5: 125,
 6: 36,
 7: 343,
 8: 64,
 9: 729,
 10: 100,
 11: 1331,
 12: 144,
 13: 2197,
 14: 196,
 15: 3375,
 16: 256,
 17: 4913,
 18: 324,
 19: 6859,
 20: 400}

In [60]:
d = {"Aman":29,"Ramesh":44,"Golu":56,"Raju":45,"Molu":28}
# WAP to print young if the age of the person is less than 40 and old
# if it is greater than 40 using dict comprehension
{i:"young" if j<40 else "old" for i,j in d.items()}

{'Aman': 'young',
 'Ramesh': 'old',
 'Golu': 'old',
 'Raju': 'old',
 'Molu': 'young'}

In [62]:
d = {"Aman":29,"Ramesh":44,"Golu":56,"Raju":45,"Molu":28}
{i:("young",j) if j<40 else ("old",j) for i,j in d.items()}

{'Aman': ('young', 29),
 'Ramesh': ('old', 44),
 'Golu': ('old', 56),
 'Raju': ('old', 45),
 'Molu': ('young', 28)}

In [6]:
l = ["the cat is, bl,ac,k","the dog is , white and bl,ack,","they both are friends"]
keywords = ["black","they"]
l1 = []
for i in l:
    i=i.replace(",","")
    l1.append(i)
l1
l2 = []
l3 = []
for i in l1:
    if i.count("black")>0:
        l2.append(l1.index(i)) 
    elif i.count("they")>0:
        l3.append(l1.index(i))
print(l2,l3)
l4 = [l2,l3]
d = {}
for i in keywords:
    for j in l4:
        if keywords.index(i)==l4.index(j):
            d[i] = j
print(d)

[0, 1] [2]
{'black': [0, 1], 'they': [2]}