In [1]:
f = open("test123.txt","a")
f.writelines(["cat is sitting \n","the dog is friendly \n"])

In [3]:
f = open("test123.txt","r")
print(f.read())

the class is glowingrain is heavy
The dog is nice
we are the team flash
cat is sitting
the dog is friendly

In [4]:
with open("test123.txt","r") as f:
    print(f.read())

the class is glowingrain is heavy
The dog is nice
we are the team flash
cat is sitting
the dog is friendly

In [5]:
with open("test123.txt","w") as f:
    f.writelines(["today is saturday \n","we are going to movie \n","there is some hope \n"])

In [6]:
with open("test123.txt","r") as f:
    print(f.read())

today is saturday
we are going to movie
there is some hope

In [7]:
with open ("test123.txt","r") as f:
    print(f.readline())

today is saturday

In [8]:
with open ("test123.txt","r") as f:
    print(f.readlines())

['today is saturday \n', 'we are going to movie \n', 'there is some hope \n']

In [10]:
with open('test123.txt','a+') as f:
    print(f.write('so the class \n'))
    print(f.read())

14

In [11]:
with open('test123.txt','a+') as f:
    print(f.read())
    print(f.write('so the class \n'))

14

In [13]:
with open('test123.txt','r') as f:
    print(f.read())

today is saturday
we are going to movie
there is some hope
so the class
so the class

In [14]:
with open('test123.txt','r+') as f:
    print(f.read())
    print(f.write("the company is good \n"))

today is saturday
we are going to movie
there is some hope
so the class
so the class

21

In [15]:
with open('test123.txt','r') as f:
    print(f.read())

today is saturday
we are going to movie
there is some hope
so the class
so the class
the company is good

In [16]:
with open('test123.txt','w+') as f:
    print(f.read())
    print(f.write("this is london \n"))

16

In [17]:
with open('test123.txt','r') as f:
    print(f.read())

this is london

In [21]:
with open('test123.txt','w+') as f:
    print(f.read())
    print(f.write("this is london \n"))
    print(f.write(" gooog is \n"))
    print(f.write(" good is \n"))
    print(f.write(" bad is \n"))

16
11
10
9

In [22]:
with open('test123.txt','r') as f:
    print(f.read())

this is london
 gooog is
 good is
 bad is

In [33]:
with open("test123.txt","r") as f:
    l = f.readlines()
l[2]

' good is \n'

In [34]:
f = open("test123.txt") 
current_line = 1
line = 3
for i in f:
    if line==current_line:
        print(i)
        break
    current_line = current_line + 1

 good is

WAP to creat a file sports.txt write five sports personalities to that file and read the content as a list.

In [44]:
with open("sports.txt","x") as f:
    f.writelines(["Ronaldo \n","Kholi\n","MS Dhoni \n","messi \n","sachin \n"])

In [45]:
with open("sports.txt","r") as f:
    print(f.readlines())

['Ronaldo \n', 'Kholi\n', 'MS Dhoni \n', 'messi \n', 'sachin \n']

In [46]:
with open("sports1.txt","x") as f:
    for i in range(1,6):
        f.write(input("enter the sports person : "))
        f.write("\n")

enter the sports person : sad
enter the sports person : sdf
enter the sports person : fsd
enter the sports person : sdf
enter the sports person : sdf

In [47]:
with open("sports1.txt","r") as f:
    print(f.readlines())

['sad\n', 'sdf\n', 'fsd\n', 'sdf\n', 'sdf\n']

In [48]:
L = ["This is Delhi \n", "This is Paris \n", "This is London \n"]

with open('5class.txt','x') as file1:
    print(file1.write('Hello \n'))

with open("5class.txt", "a") as file1:
    # Writing data to a file
#     file1.write("Hello \n")
    file1.writelines(L)
    
# Appending to file
with open("5class.txt", 'a') as file1:
    file1.write("Today")
  
  
# Reading from file
with open("5class.txt", "r") as file1:
    # Reading form a file
    print(file1.read())

7
Hello
This is Delhi
This is Paris
This is London
Today

In [53]:
with open('5class.txt','r') as f:
    a = f.readlines()
l1 = []
for i in a:
    i = i.replace("\n","")
    #print(i)
    l1.append(i)
l1
l2 = []
for i in l1:
    j = i.split()
    l2.append(j)
l3 = []
for i in l2:
    #print(i)
    for j in i:
        l3.append(j)
l3
d= {}
for i in l3:
    d[i]=l3.count(i)
d

{'Hello': 1,
 'This': 3,
 'is': 3,
 'Delhi': 1,
 'Paris': 1,
 'London': 1,
 'Today': 1}

In [55]:
from collections import Counter
with open("5class.txt") as f:
    a = Counter(f.read().split())
a

Counter({'Hello': 1,
         'This': 3,
         'is': 3,
         'Delhi': 1,
         'Paris': 1,
         'London': 1,
         'Today': 1})

In [56]:
s = "madam"
s = Counter(s)
s

Counter({'m': 2, 'a': 2, 'd': 1})

In [57]:
import os

os.rename('old file.txt','newfile.txt')
os.remove("filename.txt")

Q1 to count the number of lines in a text file.

In [71]:
with open ("test12.txt","x") as f:
    f.writelines(["This is Delhi \n", "This is Paris \n", "This is London \n","we are the team flash \n"])

In [72]:
c =0
with open("test12.txt","r") as g:
    for i in g:
        c=c+1
print("the number of line in text file is : ",c)

the number of line in text file is :  4

In [93]:
with open("test12.txt","r") as f:
    l = f.readlines()
print(l)
len(l)

['This is Delhi \n', 'This is Paris \n', 'This is London \n', 'we are the team flash \n']

4

Q2 WAP to print corresponding lines of the two files.

In [69]:
with open ("t.txt","x") as f:
    f.writelines(["This is Delhi \n", "This is Paris \n", "This is London \n"])

In [70]:
with open ("e.txt","x") as f:
    f.writelines(["rain is heavy \n", "The dog is nice \n", "we are the team flash \n"])

In [79]:
with open("t.txt","r") as f, open("e.txt",'r') as g:
    for l1,l2 in zip(f,g):       
        print(l1,l2)

This is Delhi
 rain is heavy

This is Paris
 The dog is nice

This is London
 we are the team flash

In [ ]:
list(map(lambda x,y:{x:y},l,l1))

In [ ]:
list(zip(l,l1))